.App-link {
  color: #f64b7f;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #fcebeb;
  font-size: 15px;
}

.app {
  background: #9a656b;
  min-height: 100vh;
}

h1 {
  color: #551c2e;
  margin: 50px auto;
  font-size: 20px;
}

h2 {
  color: #b33653;
}